*{	
	margin: 0;
	padding : 0;
	font-family: Mulish, sans-serif;
    font-weight: 500;
}
header{
	padding-top:20px;
	margin-left:30px;
}
header .td{
	display :flex;
	width : 100%;
	
}
header .td-cot{
	width : 20%;
	margin : auto;
	display: inline-block;
}

header .td-cot-1{
	
}

header .td-cot-2 .up{
	font-weight: bold;
	text-align: right;
	margin-right : 30px;
}
header .td-cot-2 .down{
	text-align: right;
	margin-right : 30px;
	color : gray;
}

header .td-cot-3 .phone{
	color :#e0004d;
	font-size : 30px;
	font-weight : bold;
	text-align: center;
	display : inline-block;
}

header .td-cot-3 .phone:hover{
	color : #e0004d;
	font-size : 30px;
	font-weight : bold;
	text-align: center;
	display : inline-block;
	text-decoration: underline;
}

header img{
	vertical-align: middle;
}
header .td-cot-4{
	padding-left: 59px;
}
header .td-cot-5{
	
}
header form {
	position : relative;
}
header span.icon{
	position : absolute;
	top: 6px;
    right: 55px;

}
header input.search{
	width : 210px;
	height :30px;
	opacity: 0.4;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
}

header button{
	height: 100px;
}

nav{
	margin-left:30px;
}

nav .td{
	display : flex;
	height : 50px;
	width : 100%;
}
nav .td-trai{
	font-family: 'Merriweather';
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    color: #9d68c2;
    padding-top: 20px;
	height : 50px;
	width : 35%;
	box-sizing: border-box;

}
nav .td-phai{
	padding-top: 10px;
	height : 50px;
	width : 58%;
	display : flex;
	box-sizing: border-box;
}
nav .td-phai .td-1{
	height : 50px;
	width : calc(85%/6);
	text-align: center;
	display: inline-block;
	margin: auto;
	margin-top: 15px; 
	box-sizing: border-box;
	
}

nav .td-phai .td-2{
	height : 50px;
	width : 20%;
	text-align: center;
	display: inline-block;
	margin: auto;
	margin-top: 15px; 
	box-sizing: border-box;
	
}

nav .td-phai .td-1:hover{
	height : 50px;
	width : calc(85%/6);
	text-align: center;
	display: inline-block;
	margin: auto;
	margin-top: 15px;
	color : green;
	border-bottom : 4px solid #20c997;
	box-sizing: border-box;
}

nav .td-phai .td-2:hover{
	height : 50px;
	width : 20%;
	text-align: center;
	display: inline-block;
	margin: auto;
	margin-top: 15px;
	color : green;
	border-bottom : 4px solid #20c997;
	box-sizing: border-box;
}

nav .td .dn-btn{
	height: 34px;
    width: 100px;
    margin-top: 35px;
    background: #00cba7;
    border-radius: 16px;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
}

nav .td .dn-btn:hover{
	height: 34px;
    width: 100px;
    margin-top: 35px;
    background: #28a745;
    border-radius: 16px;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
}

.body1{
	margin-top : 40px;
	width : 100%;
	height : 500px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('background.png');
    position:relative;
}

.body1 .tl{
	text-align: center;
	padding-top:150px;
	color : white;
}

.body1 .tl1{
	font-family: 'Merriweather';
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 68px;
}

.body1 .tl2{
	font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 25px;
}
.body1 .search2{
	font-weight: bold;
    color: #00ba99;
    font-size: 24px;
    line-height: 30px;
    padding: 0 1.5em;
    width: 75%;
    height: 76px;
    border: 3px solid rgba(0, 186, 153, 0.5);
    border-radius: 16px;
    position:absolute;
    top: 279px;
    left: 133px;
}

.body1 span.icon{
	position: absolute;
    top: 291px;
    left: 1156px;
    font-size: 47px;
	color : rgba(0, 186, 153, 0.5);
	height : 20px;
	width : 20px;
}

.body2{
	margin-top:100px;
	height : 400px;
	width : 100%;
	background-color : #f8f9fa;
}

.body2 .title{
	margin-bottom:10px;
	margin-left: 90px;
	height : 35px;
}

.body2 .main{
	font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    text-transform: uppercase;
    color: #2f3035;
}

.body2 .content{
	margin-top: 10px;
	width : 1160px;
	background-color: rgb(196, 196, 196);
	margin : auto;
	display: flex;
	justify-content: center;
	
}

.body2 .container{
	display: inline-block;
	width : 270px;
	height : 330px;
	background-color: #ffffff;
	margin : 10px;
	border-radius:20px;
}

.body2 .container:hover{
	display: inline-block;
	width : 270px;
	height : 330px;
	background-color: #ffffff;
	margin : 10px;
	border-radius:20px;
	transform: scale(1.06,1.06);
	transition :0.5s;
}


.body2 .img1{
	padding-top : 30px;
	width : 270px;
	height : 100px;
}
.body2 img{
	display: block;
 	margin-left: auto;
 	margin-right: auto;
	width : 100px;
	height : 100px;
}

.body2 .ct-title{
	margin-top: 10px;
	font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #2f3035;
    min-height: 50px;
}

.body2 .hr{
	width: 50px;
    height: 3px;
    background-color: #00cba7;
    margin: auto;
}

.body2 .description{
	margin: 0.5em;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #2f3035;
}

.body3{
	margin-top : 40px;
	width : 100%;
	height : 500px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('img5.jpg');
}

.body4{

}

.body4 .img2{
	padding-top : 5px;
	width : 270px;
	height : 190px;
}

.body4 img{
	display: block;
 	margin-left: auto;
 	margin-right: auto;
	width : 190px;
	height : 190px;
}

.body4 .ct4-title{
	margin-top: 3px;
    margin-left: 7px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #2f3035;
}

.body4 .subtitle{
	margin-top: 25px;
	margin-left: 7px;
	display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #86899b;
}

.body4 .xct-btn{
	margin-top: 10px;
    margin-left: 10px;
    height: 34px;
    width: 120px;
    background: #00cba7;
    border-radius: 16px;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
}

.body4 .xct-btn:hover{
	margin-top: 10px;
    margin-left: 10px;
    height: 34px;
    width: 120px;
    background: #28a745;
    border-radius: 16px;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
}

.body5{
	margin-top:50px;
	width: 100%;
	height:610px;
	
}

.body5 .title{
	margin-left:auto;
	margin-right:auto;
	align-items: center;
	height: 75px;
	width: 80%;
	display: flex;
}

.body5 .trai{
	width:93%;
	font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    color: #2f3035;
}

.body5 .phai{
    font-style: normal;
    font-size: 14px;
    opacity: 0.8;
}

.body5 .phai a{
	text-decoration: none;
	font-weight: bold;
	color: #0075ff;
}

.body5 .content{
	margin-left: auto;
    margin-right: auto;
    height: 535px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.body5 .container{
	width: 530px;
	height: 160px;
	display: flex;
}

.body5 .img{
	width: 33%;
	height: 100%;
}

.body5 img{
	width: 170px;
	height: 100%;
	border-radius: 10px;
}

.body5 .data{
	padding : 5px 20px;
	height: 100%;
}

.body5 a.s-title{
	min-height: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #2f3035;
    text-decoration: none;
}

.body5 .s-title:hover{
	min-height: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #2f3035;
    text-decoration: underline;
}

.body5 .pre-data{
	font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #86899b;
    padding: 5px 0;
    text-align: justify;
}

.body5 .time{
	display: flex;
}

.body5 .time{
	display: flex;
	margin-top : 12px;
}

.body5 .time span{
	color :gray;
	font-size: 15px;
}

.body5 .left{
	width: 50%;
}

.body5 img.clock{
	width: 15px;
	height: 15px;
	padding-right :7px;
	vertical-align: middle;
}

footer{
	margin-top: 100px;
	height: 600px;
	width : 100%;
	background-color: rgb(47, 48, 53);
}

footer .content{
	height: 530px;
	width : 95%;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}

footer .end{
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	width : 95%;
	background-color: rgb(47, 48, 53);
    border-top: 1px solid #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #ffffff;
    opacity: 0.5;
}

footer .content .cot1{
	width: 25%;
}

footer .content .cot1 img.img1{
	margin-top:30px;
	margin-bottom:30px;
}
footer .content .cot1 .title{
	margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #ffffff;
}
footer .content .cot1 .data{
	font-style: normal;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #ffffff;
    opacity: 0.5;
    margin-bottom: 20px;
}
footer .content .b_title{
	margin-top:30px;
	font-family: 'Merriweather';
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding: 1.2rem 0;
    text-decoration: underline;
    margin-bottom:30px;
}
footer .content .cot2{
	width: 25%;
	margin-left:10px;
}
footer .content .cot2 ul{
	list-style-type: none;
}
footer .content .cot2 li{
	font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #ffffff;
    margin-bottom:30px;
}
footer .content .cot3{
	width: 25%;
}

footer .content .cot3 .subtitle{
	font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #ffffff;
}

footer .content .cot3 .mod{
	margin-top: 50px;
	font-weight: bold;
}

footer .content .cot3 .link{
	margin-top: 30px;
	margin-bottom: 30px;
}

footer .content .cot3 .link a{
	color: #007bff;
}

footer .content .cot3 img{
	border-radius: 10px;
}

footer .content .cot4{
	width: 25%;
}

footer .content .cot4 .mxh{
	margin-top:20px;
	display:flex;
}

footer .content .cot4 .mxh .icon{
	margin-right:10px;
}




